<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카페매니저 입점상품몰 </title>
</head>

<!-- css -->
<link rel="stylesheet" href="../../static/css/common.css">
<link rel="stylesheet" href="../../static/css/front/main.css">

<!-- jquery  -->
<script src="../../static/js/jquery/jquery-3.7.1.min.js"></script>
<script src="../../static/js/jquery/jquery-ui.min.js"></script>

<!-- swiper -->
<link rel="stylesheet" href="../../static/js/swiper/swiper-bundle.css">
<script src="../../static/js/swiper/swiper-bundle.js"></script>

<!-- aos -->
<link rel="stylesheet" href="../../static/js/aos/aos.css/swiper-bundle.css">
<script src="../../static/js/aos/aos.js/swiper-bundle.js"></script>

<!-- js -->
<script src="../../static/js/front/common.js"></script>

<body>
    <header id="header">
        <!-- PC header -->
        <div class="header">
            <div class="wrap">
                <h1>
                    <a href="#" class="logo">
                        <div class="img"><img src="../../static/img/common/logo-character.svg" alt="cafemanager"></div>
                        <span>cafe manager</span>
                    </a>
                </h1>
                <nav class="gnb">
                    <ul>
                        <li class="depth1">
                            <a href="#" class="depth_tit"><span class="depth_box">신선제품</span></a>
                            <ul class="depth2">
                                <li><a href="#">우유</a></li>
                                <li><a href="#">과일</a></li>
                                <li><a href="#">유제품</a></li>
                                <li><a href="#">기타</a></li>
                            </ul>
                        </li>
                        <li class="depth1">
                            <a href="#" class="depth_tit"><span class="depth_box">원두</span></a>
                            <ul class="depth2">
                                <li><a href="#">약배전</a></li>
                                <li><a href="#">중배전</a></li>
                                <li><a href="#">강배전</a></li>
                            </ul>
                        </li>
                        <li class="depth1">
                            <a href="#" class="depth_tit"><span class="depth_box">디저트</span></a>
                            <ul class="depth2">
                                <li><a href="#">케익</a></li>
                                <li><a href="#">생지</a></li>
                                <li><a href="#">구움과자</a></li>
                                <li><a href="#">기타</a></li>
                            </ul>
                        </li>
                        <li class="depth1">
                            <a href="#" class="depth_tit"><span class="depth_box">식재료</span></a>
                            <ul class="depth2">
                                <li><a href="#">시럽</a></li>
                                <li><a href="#">소스</a></li>
                                <li><a href="#">파우더</a></li>
                                <li><a href="#">기타</a></li>
                            </ul>
                        </li>
                        <li class="depth1">
                            <a href="#" class="depth_tit"><span class="depth_box">부자재</span></a>
                            <ul class="depth2">
                                <li><a href="#">일회용품</a></li>
                                <li><a href="#">식기</a></li>
                                <li><a href="#">베이킹</a></li>
                                <li><a href="#">기타</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- mobile header -->
        <div class="mobile">
            <div class="m-header">
                <div class="wrap">
                    <div class="inner">
                        <h1>
                            <a href="#" class="logo">
                                <div class="img"><img src="../../static/img/common/logo-character.svg"
                                        alt="cafemanager">
                                </div>
                                <span>cafe manager</span>
                            </a>
                        </h1>
                        <div class="mBtn">
                            <span class="bar1"></span>
                            <span class="bar2"></span>
                            <span class="bar3"></span>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="lnb">
                <div class="inn">
                    <ul>
                        <li class="depth1"><a href="#" class="depth_tit">신선제품</a>
                            <div class="depth2">
                                <ul class="inn">
                                    <li><a href="#">우유</a></li>
                                    <li><a href="#">과일</a></li>
                                    <li><a href="#">유제품</a></li>
                                    <li><a href="#">기타</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="depth1"><a href="#" class="depth_tit">원두</a>
                            <div class="depth2">
                                <ul class="inn">
                                    <li><a href="#">약배전</a></li>
                                    <li><a href="#">중배전</a></li>
                                    <li><a href="#">강배전</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="depth1"><a href="#" class="depth_tit">디저트</a>
                            <div class="depth2">
                                <ul class="inn">
                                    <li><a href="#">케익</a></li>
                                    <li><a href="#">생지</a></li>
                                    <li><a href="#">구움과자</a></li>
                                    <li><a href="#">기타</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="depth1"><a href="#" class="depth_tit">식재료</a>
                            <div class="depth2">
                                <ul class="inn">
                                    <li><a href="#">시럽</a></li>
                                    <li><a href="#">소스</a></li>
                                    <li><a href="#">파우더</a></li>
                                    <li><a href="#">기타</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="depth1"><a href="#" class="depth_tit">부자재</a>
                            <div class="depth2">
                                <ul class="inn">
                                    <li><a href="#">일회용품</a></li>
                                    <li><a href="#">식기</a></li>
                                    <li><a href="#">베이킹</a></li>
                                    <li><a href="#">기타</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </header>
    <div id="mainContents">
        <main>
            <section class="section01">
                <div class="wrap">
                    <div class="title">
                        <h3>카페매니저</h3>
                        <p>우유 부터 원두, 식재료, 일회용품 등<br>
                            다양한 카페 용품을 번거로움 없이<br>
                            손쉽게 주문이 가능합니다.</p>
                    </div>
                </div>
            </section>
            <section class="section02">
                <div class="tit">
                    <div class="tit_point">
                        <span>BEST ITEM</span>
                    </div>
                    <h4>카페매니저의 베스트 제품을 만나보세요.</h4>
                </div>
                <div class="wraper">
                    <div class="swiper bestitems">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide best-item">
                                <div class="product">
                                    <div class="img">
                                        <img src="../../static/img/front/main/sec1-item01.png" alt="전광수커피">
                                    </div>
                                    <div class="text">
                                        <span class="p-cate">원두</span>
                                        <strong class="p-name">30초 블렌드</strong>
                                        <span class="p-brand">전광수커피</span>
                                        <a href="#" class="view-detail"><span> 자세히 보기</span> <i
                                                class="arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide best-item">
                                <div class="product">
                                    <div class="img">
                                        <img src="../../static/img/front/main/sec1-item01.png" alt="전광수커피">
                                    </div>
                                    <div class="text">
                                        <span class="p-cate">원두</span>
                                        <strong class="p-name">30초 블렌드</strong>
                                        <span class="p-brand">전광수커피</span>
                                        <a href="#" class="view-detail"><span> 자세히 보기</span> <i
                                                class="arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide best-item">
                                <div class="product">
                                    <div class="img">
                                        <img src="../../static/img/front/main/sec1-item01.png" alt="전광수커피">
                                    </div>
                                    <div class="text">
                                        <span class="p-cate">원두</span>
                                        <strong class="p-name">30초 블렌드</strong>
                                        <span class="p-brand">전광수커피</span>
                                        <a href="#" class="view-detail"><span> 자세히 보기</span> <i
                                                class="arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide best-item">
                                <div class="product">
                                    <div class="img">
                                        <img src="../../static/img/front/main/sec1-item01.png" alt="전광수커피">
                                    </div>
                                    <div class="text">
                                        <span class="p-cate">원두</span>
                                        <strong class="p-name">30초 블렌드</strong>
                                        <span class="p-brand">전광수커피</span>
                                        <a href="#" class="view-detail"><span> 자세히 보기</span> <i
                                                class="arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide best-item">
                                <div class="product">
                                    <div class="img">
                                        <img src="../../static/img/front/main/sec1-item01.png" alt="전광수커피">
                                    </div>
                                    <div class="text">
                                        <span class="p-cate">원두</span>
                                        <strong class="p-name">30초 블렌드</strong>
                                        <span class="p-brand">전광수커피</span>
                                        <a href="#" class="view-detail"><span> 자세히 보기</span> <i
                                                class="arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="best-contr">
                                <div class="swiper-pagination"></div>
                                <div class="contr">
                                    <button type="button" class="left best-prev"></button>
                                    <button type="button" class="start best-play toggle_on">
                                        <i class="pause"></i>
                                        <i class="start"></i>
                                    </button>
                                    <button type="button" class="right best-next"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section03">
                <div class="wrap">
                    <div class="brand-box">
                        <div class="tit">
                            <div class="tit_point">
                                <span>CSFEMANAGER</span>
                            </div>
                            <h3>카페매니저의 다양한 서비스를 통해<br>
                                카페 운영의 어려움을 해결해 보세요!</h3>
                        </div>
                        <div class="link-wrap">
                            <button class="link">
                                <i class="logo apple"></i>
                            </button>
                            <button class="link">
                                <i class="logo google"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section04">
                <div class="tit">
                    <div class="tit_point">
                        <span>NEW ITEM</span>
                    </div>
                    <h4>카페매니저의 새로운 제품을 만나보세요.</h4>
                </div>
                <div class="wraper">
                    <div class="swiper newitems">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide new-item">
                                <div class="pdt-img">
                                    <img src="../../static/img/front/main/sec4-bg-item01.jpg" alt="GSHCOFFEE C 블렌딩 원두">
                                    <div class="controls">
                                        <button type="button" class="control new-prev left">
                                        </button>
                                        <button type="button" class="control new-next right">
                                        </button>
                                    </div>
                                </div>
                                <div class="ptd-info">
                                    <div class="info-txt">
                                        <div class="txt">
                                            <span class="p-cate">원두</span>
                                            <p class="p-subs"></p>
                                            <strong class="p-name">C 블렌딩</strong>
                                            <span class="p-brand">GSHCOFFEE</span>
                                        </div>
                                        <a href="#" class="view-detail"><span> 자세히 보기</span> <i
                                                class="arrow-right"></i></a>
                                    </div>
                                    <div class="p-pack">
                                        <img src="../../static/img/front/main/sec4-item01.png" alt="GSHCOFFEE C 블렌딩 원두">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide new-item">
                                <div class="pdt-img">
                                    <img src="../../static/img/front/main/sec4-bg-item01.jpg" alt="GSHCOFFEE C 블렌딩 원두">
                                    <div class="controls">
                                        <button type="button" class="control new-prev left">
                                        </button>
                                        <button type="button" class="control new-next right">
                                        </button>
                                    </div>
                                </div>
                                <div class="ptd-info">
                                    <div class="info-txt">
                                        <div class="txt">
                                            <span class="p-cate">원두</span>
                                            <p class="p-subs"></p>
                                            <strong class="p-name">C 블렌딩</strong>
                                            <span class="p-brand">GSHCOFFEE</span>
                                        </div>
                                        <a href="#" class="view-detail"><span> 자세히 보기</span> <i
                                                class="arrow-right"></i></a>
                                    </div>
                                    <div class="p-pack">
                                        <img src="../../static/img/front/main/sec4-item01.png" alt="GSHCOFFEE C 블렌딩 원두">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination new-pagination"></div>
            </section>
            <section class="section05">
                <div class="wrap maxw1400">
                    <div class="thumb-box">
                        <div class="thumb-img video">
                            <img src="../../static/img/front/main/cafemanager-video-thumb.jpg"
                                alt="카페 사장님을 위한 카페매니저 서비스">
                            <button class="play-btn"></button>
                        </div>
                        <div class="thumb-txt">
                            <div class="thb-tit">
                                <p>카페사장님을 위한 일 잘하는 매니저</p>
                                <h3>CAFE MANAGER</h3>
                            </div>
                            <div class="thb-txt">
                                <p>입점 및 문의사항은 카카오톡 채팅
                                    및 고객센터로 문의해주세요.</p>
                            </div>
                            <button class="btn kakao-btn">
                                <p>카카오톡 문의하기</p>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section06">
                <div class="tit">
                    <div class="tit_point">
                        <span>FOLLOW US</span>
                    </div>
                    <h4>카페매니저의 소식을 확인해 보세요.</h4>
                    <div class="view">
                        <a href="#" class="view-detail"><span>SNS 보기</span> <i class="arrow-right"></i></a>
                    </div>
                </div>
                <div class="wraper">
                    <div class="swiper instaitems">
                        <div class="swiper-wrapper row">
                            <div class="swiper-slide insta-item">
                                <a href="#" class="inner hov">
                                    <div class="insta-img">
                                        <img src="../../static/img/front/main/insta01.png" alt="카페매니저 인스타그램">
                                    </div>
                                    <div class="insta-hov">
                                        <i class="icon-insta"></i>
                                        <span class="insta-sub">@cafemanager_official</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide insta-item">
                                <a href="#" class="inner hov">
                                    <div class="insta-img">
                                        <img src="../../static/img/front/main/insta02.jpg" alt="카페매니저 인스타그램">
                                    </div>
                                    <div class="insta-hov">
                                        <i class="icon-insta"></i>
                                        <span class="insta-sub">@cafemanager_official</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide insta-item">
                                <a href="#" class="inner hov">
                                    <div class="insta-img">
                                        <img src="../../static/img/front/main/insta03.jpg" alt="카페매니저 인스타그램">
                                    </div>
                                    <div class="insta-hov">
                                        <i class="icon-insta"></i>
                                        <span class="insta-sub">@cafemanager_official</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide insta-item">
                                <a href="#" class="inner hov">
                                    <div class="insta-img">
                                        <img src="../../static/img/front/main/insta04.jpg" alt="카페매니저 인스타그램">
                                    </div>
                                    <div class="insta-hov">
                                        <i class="icon-insta"></i>
                                        <span class="insta-sub">@cafemanager_official</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide insta-item">
                                <a href="#" class="inner hov">
                                    <div class="insta-img">
                                        <img src="../../static/img/front/main/insta04.jpg" alt="카페매니저 인스타그램">
                                    </div>
                                    <div class="insta-hov">
                                        <i class="icon-insta"></i>
                                        <span class="insta-sub">@cafemanager_official</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="insta-controls">
                        <button type="button" class="control insta-prev left">
                        </button>
                        <button type="button" class="control insta-next right">
                        </button>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer id="footer">
        <div class="footer">
            <div class="wrap">
                <div class="inner">
                    <div class="ft-logo">
                        <a href="#" class="img">
                            <img src="../../static/img/common/white-logo.svg" alt="카페매니저">
                        </a>
                    </div>
                    <div class="ft-cutomer">
                        <div class="tell-box">
                            <div class="tit">
                                <p>카페매니저문의하기</p>
                            </div>
                            <div class="num"><strong>010-4684-4790</strong></div>
                        </div>
                    </div>
                    <div class="ft-info">
                        <div class="info divide">
                            <div class="txt">
                                <p class="inf">주식회사 커포트</p>
                            </div>
                            <div class="txt">
                                <p class="tit">사업자등록번호</p>
                                <p class="inf">491-88-02804</p>
                            </div>
                            <div class="txt">
                                <p class="tit">대표자</p>
                                <p class="inf">김동우</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="txt">
                                <p class="tit">주소</p>
                                <p class="inf">대구광역시 서구 국채보상로 6길 11, 1층 107호</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="txt">
                                <p class="tit">COPYRIGHT CUPPORT.ALL RIGHTS RESERVED.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var bestProduct = new Swiper(".bestitems", {
            spaceBetween: 30,
            slidesPerView: 3.8,
            centeredSlides: false,
            slidesPerGroup: 1,
            speed: 1000,
            loop: true,
            autoplay: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            on: {
                init: function () {
                    $('.best-contr .best-play').on('click', function (e) {
                        if ($(this).hasClass('on')) {
                            bestProduct.autoplay.stop();
                        } else {
                            bestProduct.autoplay.start();
                        }
                    })
                }
            },
            pagination: {
                el: ".swiper-pagination",
                type: "progressbar",
            },
            navigation: {
                nextEl: ".best-next",
                prevEl: ".best-prev",
            },
            breakpoints: {
                475: {
                    slidesPerView: 1.7,
                },
                601: {
                    slidesPerView: 2.2,
                },
                701: {
                    slidesPerView: 2.5,
                },
                800: {
                    slidesPerView: 1.7,
                },
                1024: {
                    slidesPerView: 2.3,
                    centeredSlides: true,
                },
                1280: {
                    slidesPerView: 2.7,
                    centeredSlides: true,
                },
                1550: {
                    slidesPerView: 3.7,
                    centeredSlides: true,
                },
            },
        });

        var newProduct = new Swiper('.newitems', {
            observer: true,
            observeParents: true,
            slidesPerView: 1,
            centeredSlides: true,
            speed: 1500,
            loop: true,
            lazy: {
                loadPrevNext: true, // 이전, 다음 이미지는 미리 로딩
                lazyLoadingInPrevNextAmount: 6,
            },
            autoplay: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".new-next",
                prevEl: ".new-prev",
            },
            pagination: {
                el: ".new-pagination",
                type: 'bullets',
                clickable: true,
            },
            breakpoints: {
                800: {
                    slidesPerView: 1.1,
                }
            }
        });

        var snsSocial = '';
        var innerWid;
        var socialFlag = false;
        $(window).on('resize', function () {
            initSocialSwiper();
        })
        initSocialSwiper();

        function initSocialSwiper() {
            innerWid = window.innerWidth;
            if (innerWid <= 1280) {
                socialFlag = true;
            } else {
                socialFlag = false;
            }
            if (!socialFlag && snsSocial == '') {
                createSocialSwiper();
            } else if (socialFlag && snsSocial != '') {
                snsSocial.destroy();
                snsSocial = '';
            }
        }


        function createSocialSwiper() {
            snsSocial = new Swiper('.instaitems', {
                observer: true,
                observeParents: true,
                slidesPerView: 4,
                speed: 500,
                loop: true,
                autoplay: true,
                autoplay: {
                    delay: 3500,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: ".insta-next",
                    prevEl: ".insta-prev",
                },
            })
        }


        var stack = 3;
        var total;
        function mainMoreSocial() {
            var bnr = $('.instaitems .insta-item');
            total = $('.instaitems .insta-item').length;
            for (i = stack; i < stack + 3; i++) {
                console.log(i);
                bnr.eq(i).show();
            }
            stack += 3;
            if (stack >= total) {
                $(event.currentTarget).hide();
            }
        }
    </script>
</body>

</html>